*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background: liner-gradient(to right, #8ad98a, #4015d9);
    height:100vh;
    display:flex;
    background-attachment:fixed;
    background-size: cover;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

.slider{
    position:relative;
    width:300px;
    height:300px;
    transform-style:preserve-3d;
    animation: rotate 20s linear infinite;
}

@keyframes rotate{
    0%{
        transform: perspective(1800px) rotateY(0deg);
    }
    100%{
        transform: perspective(1800px) rotateY(300deg);
    }
}
.slider span{
    width: 100%;
    height:100%;
    border-radius:7px;
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 5s;
}