

#hero{
width:100%;
height:100vh;
background-image:url(pictures/blueworld.png);
background-size: cover;
background-position: center;
position:relative;
}


#social {
    width: 51.5vw;
    margin-left: auto;
    padding-top: 10px;
}


.headerLogo{
    width:5px;  
    position:center;
    right:0;
    top:0;
    transform:translateY(-50%);

}
.info{
    width:800px;
    color:#fff;
    position:absolute;
    right:0;
    top:40%;
    transform:translateY(-50%);

}

.info h1{
    font-size:150px;
    letter-spacing:10px;
}

.info h2{
    font-size:15px;
    letter-spacing:3px;  
}
.info p{
    color:#f0eef1;
    font-size:60px;
    margin: 30px  0;
    line-height:18px;
    left: 100px;
    right: 200px;

}

.info input{
    width:50%;
    padding:8px 10px;
    outline:none;
    border-radius:20px;
    border:2px solid #fff;
    border-radius:20px;
    font-size:12px;
}
::placeholder{
    color:#ccc;
}

.doors{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;
    color:blueviolet
}

.slider{
    display:flex;
    align-items:center;
    position:absolute;
    right:30px;
    bottom:50px;
}
#prev,#next{
    width:30px;
    cursor:pointer;
}
.preview{
    display:flex;
    align-items:center;
    margin:0 60px;
}

.preview img{
    width:60px;
    margin:0 10px;
    opacity:0.4;
}

.preview .active{
    display:block;
    border:3px solid #fff;
    width:100px;
    opacity:1;    
}

#art {
    width: 70%;
    height: 70%;
    margin-top: 2%;
}


.contentContainer {
  width:40%;
  height:100vh;
  background:rgba(86,86,86,0.3);
  backdrop-filter:blur(10px);
  position:absolute;
  left:0;
  top:0;
    
}

.comments {
    inline-size: 100%;
}

#commentContainer {
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: left;
    width: 75%;
    margin-left: 10%;
}

#userImg {
    width: 30px;
    margin-left:50px;
    height: auto;
}

#commentContainer p {
    justify-self: left;
    inline-size: 800px;
}