:root {
    --primary-color: rgba(241, 30, 30, 1);
    --secondary-color: rgba(124, 42, 201, 1);
    --tertiary-color: rgb(252, 146, 16, 1);
}

header {
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 5vw 10vw 60vw 25vw;
    background-color: var(--secondary-color);
}

li#nav {
    color: white;
}

#headerLogo {
    width: 2vw;
    height: auto;
    padding: 0px;
}

 
header span {
    margin-left: 0px;
    font-size: 20px;
    color: white;
}

/*Header Search*/

#searchIcon {
    display: none;
    margin-top: .2vh;
}

.headershadow{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
          
}

.doors {
    width: 30vw;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    color: white;
}

/*ul a:before, ul a:visited, ul a {
    color: rgb(2, 2, 2);
}*/

h1 {
    color: rgb(18, 16, 17);
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h2 {
    color: cornflowerblue;
    text-align: center;
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    padding: 10px;
    /*margin: 0px;*/
}

h2 span {
    font-size: x-large;
}

/*radio buttons*/
.radioCheck{
    display: flex;
    margin-left: 650px ;

    /*position: absolute;*/
    transform: translate(-26%, -20%);
    justify-content: center;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
    background-color: var(--supporting-color4);
    color: white;
    /*text-align: center;*/
}

input[type="radio"]:checked + label:before {
    height: 4px;
    width: 4px;
    border: 3px solid;
    background-color: var(--supporting-color4);
    color: black
}

label{
    position: relative;
    color: black;
    font-size: 10px;
    border: 1px solid var(--supporting-color4);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

label::before{
    content: "";
    height: 10px;
    width: 10px;
    border: 1px solid var(--supporting-color4);
    border-radius: 50%;
    margin-right: 20px;
}


/*search*/

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 300px;
}

.results {
    width: 100px;
    font-size: 20px;
    display: flex;
    margin-left: 750px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    position: absolute;
}

input{
    font-size: 1rem;
}

.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    text-align: center;

}

.tag-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    text-align: center;

}

.card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header {
    margin-bottom: .25rem;
}

.card > .body{
    font-size: .8rem;
    color: gray;
}

.hide{
    display: none;
}

 
.card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 450px;
    padding: 20px; 
    overflow: auto;
    border-radius: 20px;
    margin: auto;
    white-space: normal;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}