.userForm {
    text-align: center;
}

/* h1 {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
} */

label {
    font-size: 20px;
    color: var(--supporting-color4);
}

form input {
    width: 15vw;
    height: 1.5vw;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 13px;
}

form input#signup {
    height: 3vw;
    margin: 10px 10px 20px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    background: var(--primary-color);
    font-size: 20px;
    color: white;
}

form input#submit {
    height: 3vw;
    margin: 10px 10px 20px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    background: var(--primary-color);
    font-size: 20px;
    color: white;
}

br {
    line-height: 2vh;
}