#usernameContainer {
    position: absolute;
    display: flex;
    top: 15%;
    flex-direction: row;
    justify-content: space-between;
}

.userPictureDiv {
    width: 30%;
    height: 30%;
}

#userPicture {
    width: 30%;
    max-width: 600px;
    height: auto;
    max-height: 600px;
    object-fit: fill;
    margin-bottom: 2%;
}

#userBioContainer {
    position: absolute;
    top: 30%;
    left: -3%;
}

#userGallery {
    position: absolute;
    top: 40%;
    left: 43%;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    inline-size: 90vw;
    margin-left: -38vw;
}

.imgContainer img {
    width: 180px;
    height: 180px;
    margin: 5px 5px 5px 5px;
    object-fit: cover;
}

#editProfile {
    margin-left: -16vw;
    margin-top: 1vh;
    border: none;
    border-radius: 12px;
    background: var(--secondary-color);
    font-size: 20px;
    width: 120px;
    height: 40px;
}

button a {
    color: white;
}

#bioTextField {
    width: 40vw;
    height: 8vh;
    margin-left: 30vw;
}

.pfpContainer {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#changePFP {
    width: 300px;
}

#username {
    width:35vw;
    margin-right: 15vw;
}

#uploadForm {
    margin-left: 2%;
}